*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roxo{
    background-color: rgba(156, 25, 156, 0.624);
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
   
}

.bola-roxa{
    background-color: rgba(156, 25, 156, 0.983);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    
}

.verde{
    background-color: rgba(0, 128, 0, 0.616);
    height: 20vh;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 10px;
}

.bola-verde{
    background-color: green;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.vermelho{
    background-color: rgba(255, 0, 0, 0.431);
    height: 20vh;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
}

.bola-vermelha{
    background-color: rgb(184, 42, 42);
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.amarelo{
    background-color: rgba(255, 255, 0, 0.538);
    height: 20vh;
    display: flex;
    align-items:center;
    gap: 10px;
    justify-content: space-between;
}

.bola-amarela{
    background-color: rgb(180, 180, 17);
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.azul{
    background-color: rgba(0, 0, 255, 0.488);
    height: 20vh;
    display: flex;
    align-items:center;
    gap: 10px;
    justify-content: space-evenly;
}

.bola-azul{
    background-color: rgb(30, 30, 147);
    border-radius: 50%;
    height: 120px;
    width: 120px;
}